@import "tailwindcss";

@theme {
  --color-cream: #FDFBF7;
  --color-soft-sand: #F4EFE6;
  --color-sage-green: #A3B19B;
  --color-off-white: #FAF9F6;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-off-white);
    color: #333333;
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}
